:root {
  --primary-color: rgb(240, 231, 231);
  --text-font: "fanwood text";
  --button-font: "Poppins", sans-serif;
  --secondry-color: rgb(61, 61, 248);
  --hover-color: #272142;
}
.hero {
  font-family: "fanwood text";
  text-align: center;
  padding: 55px;
  line-height: 2;
}
.top-homepage {
  padding: 0px 20px;
}
.homepage-picture {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  font-family: var(--text-font);
}
p {
  font-size: 22px;
  font-family: var(--text-font);
}

.btn-branding {
  font-family: var(--button-font);
  color: white;
  border-radius: 4;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  background-color: var(--secondry-color);
}
.btn-primary {
  font-family: var(--button-font);
  color: white;
  border-radius: 4;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  background-color: var(--secondry-color);
  text-decoration: none;
}

@media (max-width: 900px) {
  .card,
  .container,
  .project-description,
  p,
  h1,
  h2,
  h3 {
    text-align: center;
  }
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
  }
  p,
  h4,
  h5 {
    font-size: 18px;
  }
  h1,
  h2,
  h3 {
    font-size: 25px;
  }
}
@media (max-width: 900px) {
  nav li a {
    font-size: 12px;
    margin-left: 15px;
  }
  nav li {
    line-height: 25px;
  }
}
@media (max-width: 900px) {
  .footer .email-link {
    font-size: 15px;
  }
  .social-links a {
    font-size: 20px;
    padding: 5px 10px;
  }
}

@media (max-width: 900px) {
  .btn-primary,
  .btn-branding {
    font-size: 14px;
    padding: 8px 12px;
  }
}
.footer {
  text-align: center;
  font-size: 25px;
}

.about-work h1 {
  font-size: 44px;
}
.about-work {
  margin: 0;
  padding: 0;
}
.about-work-content {
  margin-bottom: 40px;
}

.mywork-page,
.mycoding-page,
.mycarpentry-page {
  padding: 15px 20px;
}
.logo {
  max-width: 120px;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 120px;
  margin-left: 15px;
  font-size: 20px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav {
  padding: 5px 0;
}
nav a {
  text-decoration: none;
  font-family: var(--button-font);
  color: var(--hover-color);
  transition: all 150ms ease-in-out;
}
nav a :hover,
nav li.active a {
  color: var(--secondry-color);
}
.footer .email-link {
  text-decoration: none;
  color: var(--hover-color);
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.footer .email-link:hover {
  color: var(--secondry-color);
}
.social-links a {
  color: var(--secondry-color);
  margin: 0px 25px;
  padding: 5px 17px;
  background-color: rgb(235, 223, 223);
  font-size: 40px;
  border-radius: 50%;
}
@media (max-width: 900px) {
  .social-links a {
    font-size: 20px;
    padding: 3px 10px;
  }
}
.social-links a:hover {
  color: white;
  background-color: var(--secondry-color);
}

.contact-box {
  background-color: var(--primary-color);
  padding: 30px 60px;
  border-radius: 10px;
}
.contact-box p {
  margin: 0;
}
.open-sourced {
  color: var(--secondry-color);
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: white;
}
