.hero {
  font-family: "fanwood text";
  text-align: center;
  background-color: rgb(240, 231, 231);
  line-height: 2;
  padding: 160px;
}
h1 {
  font-weight: bold;
  font-family: "fanwood text";
}
h3 {
  font-family: "fanwood text";
  font-weight: bold;
}
p {
  font-size: 22px;
  font-family: "fanwood text";
}

.btn-branding {
  font-family: "Poppins", sans-serif;
  color: white;
  border-radius: 4;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  background-color: blue;
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 18px;
  }
  h1,
  h2,
  h3 {
    text-align: center;
    font-size: 25px;
  }
}
